.card {
  padding: 40px 20px;
  background-color: #fff;
  max-width: 25%;
  text-align: center;
  display: flex;
  align-items: center;
  transition: all 0.5s;
  cursor: pointer;
}

.card:hover {
  background-color: #55f676;
  box-shadow: #ff5831 15px 15px 10px;
  transform: scale(1.1);
}

.card__title {
  font-family: 'Iceland', sans-serif;
  font-size: 52px;
  text-align: center;
  margin: 0;
}

.card__hidden-text {
  display: none;
}

@media screen and (max-width:1040px) {
  .card {
    max-width: 50%;
  }
}

@media screen and (max-width: 768px){
  .card {
    max-width: 100%;
  }
  
}
