.contact {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 500px;
  width: 100%;
  background-color: #0882ff;
}

.contact__container {
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0 100px;
  width: 60%;
}

.contact__title {
  color: #000;
  margin: 0;
  padding: 0 0 50px;
  width: 60%;
  font-size: 48px;
  line-height: 1;
  align-self: flex-end;
  text-align: center;
  font-family: "Iceland", cursive;
}

.contact__title-span {
  color: #ffffff;
  font-size: 25px;
  display: block;
  margin-top: 10px;
}
