.intro {
  padding: 0 5vw 5vw;
  display: flex;
  justify-content: space-between;
}

.intro__text {
  align-self: center;
  font-family: "Iceland", sans-serif;
}

.intro__title {
  margin: 0;
  font-size: 72px;
  text-shadow: #0882ff 5px 5px 5px;
  transition: all 0.5s;
}

.intro__title:hover {
  transform: scale(1.2);
  text-shadow: #55f676 10px 10px 10px;
}

.intro__subtitle {
  margin: 0;
  font-size: 40px;
}

.intro__picture {
  max-width: 60%;
}

@media screen and (min-width: 600px) and (max-width: 730px) {
  .intro {
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .intro {
    flex-direction: column;
  }

  .intro__picture {
    margin: 0 auto;
  }

  .intro__title {
    font-size: 42px;
    text-align: center;
  }

  .intro__subtitle {
    font-size: 30px;
  }

  .intro__picture {
    max-width: 70%;
    align-self: center;
  }
}
