.intro {
  padding: 5vw;
  display: flex;
  justify-content: space-between;
}

.intro__text {
  align-self: center;
  font-family: 'Iceland', sans-serif;
}

.intro__title {
  margin: 0;
  font-size: 52px;
}

.intro__subtitle {
  margin: 0;
  font-size: 40px;
}

.intro__picture {
  max-width: 50%;
}