.nav {
  margin: 0;
  align-self: center;
  font-family: "Iceland", cursive;
  font-weight: 400;
  font-style: normal;
}

.nav__links {
  list-style-type: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  column-gap: 80px;
  color: #000;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  color: #000;
  font-size: 25px;
  line-height: 1;
  font-weight: 400;
  padding: 20px 10px;
  transition: all 0.4s linear;
}

.nav__link:hover {
  text-shadow: 0 0 2px #000, 4px 4px 0 #0882ff;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .nav {
    max-width: 768px;
  }

  .nav__links {
    column-gap: 50px;
  }
}

@media screen and (min-width: 600px) and (max-width: 730px) {
  .nav {
    max-width: 730px;
  }

  .nav__links {
    column-gap: 20px;
  }

  .nav__link {
    font-size: 24px;
    padding: 10px 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .nav__links {
    flex-direction: column;
    column-gap: 30px;
  }

  .nav__link {
    font-size: 29px;
    padding: 5px 5px;
    line-height: 1.2;
    font-weight: bold;
  }
}
